name: Teams

on:
  workflow_dispatch:
  pull_request:
    paths:
      - teams/*.yml
      - teams/*.yaml
      - teams/*.schema.json
      - scripts/schemas.py

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      - run: pixi run check-teams
