name: Create PR for meeting notes

on:
  workflow_dispatch:
    inputs:
      date:
        description: |
          Date of the meeting notes. MUST be understood by `date --date`.
          Common examples are "now", "tomorrow", "next Wednesday", "2023-03-01"...
          See https://www.gnu.org/software/coreutils/manual/html_node/Date-input-formats.html for full details.
        required: false
        default: now
        type: string
  schedule:
    # Run every Friday, but create it for Wednesday
    - cron: 00 3 * * FRI
  pull_request:
    types:
      - labeled

permissions:
  contents: write
  pull-requests: write
# You need to enable 'Allow GitHub Actions to create and approve pull requests'
# in your Actions Settings too

jobs:
  create:
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    uses: Quansight-Labs/hackmd-meeting-notes-action/.github/workflows/create-meeting-notes-pr.yml@ba471169f1eb702fc0861a227ce0b232ff5e7149 # @main
    with:
      date: ${{ github.event_name == 'schedule' && 'next Wednesday' || (inputs.date || 'now') }}
      template_path: meetings/agenda_template.md
      output_path: meetings/archive/%Y%m%d-conda-ecosystem.md
      hackmd_team: conda-community
      force_push: false
      pr_body: |
        New meeting notes available at ${env.hackmd_doc_url}.

        Once done with the meeting, sync the note back to the repository by adding the `sync-hackmd-notes` label.
    secrets:
      HACKMD_TOKEN: ${{ secrets.HACKMD_TOKEN }}

  sync:
    if: github.event.label.name == 'sync-hackmd-notes'
    uses: Quansight-Labs/hackmd-meeting-notes-action/.github/workflows/sync-meeting-notes-pr.yml@ba471169f1eb702fc0861a227ce0b232ff5e7149 # @main
    with:
      pr_number: ${{ github.event.number }}
      hackmd_team: conda-community
    secrets:
      HACKMD_TOKEN: ${{ secrets.HACKMD_TOKEN }}
